@charset "utf-8";

@import 'normalize';
@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'aos';

@include foundation-everything(false, false);

@include motion-ui-transitions;
@include motion-ui-animations;

@import "modules/header";
@import "modules/footer";
@import "modules/collection";

$de-blue: #5a9ad4;
$de-blue-dark: #487ba9;
$de-blue-light: #deeaf6;
$de-grey: #D3D3D3;
$de-light-grey: #e4e4e4;

%general {
	width: 100%;
	font-family: "Montserrat", sans-serif;
	background-color: white;
}

.main-html {
	@extend %general;
}

.page, .blog, .woocommerce-page, .single-post {
	@extend %general;

	background-image: url("../images/background.jpg");
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: repeat-y;
}

h1, h2, h3, h4, h5, p, a {
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

p {
	margin: 2% 0;
}

.row .row {
    margin: 0;
}

.columns:last-child:not(:first-child){
	float: left;
}

//Utility Classes Start

img.alignright {
	float: right;
	margin: 0 0 1em 1em;
}

img.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.center-children-horizontal {
	padding-left: auto;
	padding-right: auto ;
}

.centered {
	margin: auto;
}

.center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.padded {
	padding: 2%;
}

.margin-05 {
    margin: 0.5rem 1rem;
}

.no-left-margin {
	margin-left: 0;
}

.full-width {
	width: 100%;
	max-width: none;
}

.align-center {
	text-align: center;
}

.align-left {
  	text-align: left;
}

.align-right {
	text-align: right;
}

.menu-text {
	font-family: "Montserrat", sans-serif;
}

.transparent {
	background-color: transparent !important;
}

.white {
    background-color: white !important;
}

.black-text {
	color: black;
}

.blue {
	background-color: $de-blue !important;
}

.blue-text {
	color: $de-blue;
}

.light-grey {
	background-color: $de-light-grey !important;
}

.border-bottom {
	border-bottom: $de-grey solid 1px;
}

.padding-0 {
	padding: 0;
}

.float-right {
	float: right;
}

//Utility Classes End

div.banner-feature-image {
	position: relative;
	height: 70vh;
	max-height: 1920px;
	min-height: 320px;
	background-image: url("../images/feature-background.jpg");
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

div.banner-feature-image.small {
	min-height: 160px;
	height: 160px;
}

.breadcrumbs {
    margin: 0;
}

.service-container {

	width: 100%;

	@include breakpoint(medium up){
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

}

.service-panel .row .columns {
	padding: 2vw;
}

.service-panel div div {
	position: relative;
}

.service-image {
	margin: 0 auto;

	@include breakpoint(medium) {
		max-width: 30vw;
	}

	@include breakpoint(small) {
		max-width: 70vw;
	}
}

.breadcrumbs-container {
    background: linear-gradient(274deg, white 0%, white 98%, $de-blue 2%, $de-blue 0%);
    padding-left: 3%;
}

.stretchy-content {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

.button.large {
	background-color: $de-blue;
	margin-top: 10px;
	margin-bottom: 0;
	border-radius: 3px;
	font-size: 1.2vw;
	font-size: calc(0.5em + 0.6vw)
}

h1.title {
	font-family: 'Montserrat', sans-serif;
	font-size: calc(1em + 2vw)
}

h3.title {
	font-size: calc(0.6em + 1.2vw);
}

.brand-logo {
	height: 90%;
}

.banner-feature-text {
	padding: 6px 0;
	min-height: 60px;
	color: black;
	background-color: white;
}

.main-content {
	background-color: white;
	padding: 5px 2%;
}

.main-content header {
	width: 100%;
	text-align: center;
}

.blog-content {
	background-color: white;
	width: 100%;
	border-bottom: 2px solid $de-grey;
	text-align: left;
	padding: 5px 2%;
}

.blog-content header {
	width: 100%;
	text-align: center;
}

.blog-content p {
    margin: 2% 0.5vw;
}

.blog-content .title {
	background-color: $de-grey;
	background: linear-gradient(274deg, white 0%, white 96%, $de-blue 4.0%, $de-blue 0%);
    margin: 1em 0;
}

.blog-title {
	text-align: left;
}

.more-link {
	display: block;
}

.iframe-wrapper {
	width: 95%;
	position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 5px auto;
}

.iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#error {
	padding: 40px 10px;
}

.error-icon {
	padding-top: 40px;
	color: lightcoral;
	font-size: 200px;
}

.nav-previous, .nav-next {
	display: inline-block;
    margin: 2em 0;
}