$de-blue: #5a9ad4;
$de-grey: #D3D3D3;

.footer {
	background-color: $de-grey;
	text-align: center;
	padding-top: 10px;
}

.footer-nav {
	list-style-type: none;
	padding-top: 1.4rem;
}

.footer-nav li {
	display: inline-block;
	margin: 2px 0.8rem;
}

.footer-nav li a {
	color: black;
}

.footer-nav li a:hover {
	color: $de-blue;
}

#footer-logo {
	height: 1em;
	margin: 10px 5px;
}